<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script type="text/javascript">
        function calculateBelt(data) {
            var topx = data.slice(0);
            topx = topx.sort().slice(2); // take the top N scores
            min = listMin(data);

            distance = (listMin(topx) - min).toFixed(2);
            if (distance <= .8 & distance != 0.3) { // 2&2 satisfied
                return listMin(topx);
            }
            else {
                return min;
            }
        }

        function listMin(list) {
            output = 1000;
            for (var i=0; i < list.length; i++) {
                if (list[i] < output) {
                    output = list[i];
                }
            }

            return output;
        }

        function listMax(list) {
            output = 0;
            for (var i=0; i < list.length; i++) {
                if (list[i] > output) {
                    output = list[i];
                }
            }

            return output;
        }

        function buildRow(row_text, score, type, i, entries) {
            var score_int = Math.floor(score);

            var txt_details = '';
            var row_hide = '';

            if (type == 'user') {
                txt_details = '<small>&nbsp;<a href="#" onclick="showDetails(' + i + ');">Details (' + entries + ')</a></small>';
            }
            else {
                row_hide = ' class="tr_breakdown' + i + '" style="display: none"';
            }

            var x = '<tr' + row_hide + '><td style="width:250px; padding: 2px; vertical-align: top">' + row_text + '</td>';

            for (i in belts) {
                if (score_int > i) {
                    background_color = belts[i];
                    x += '<td style="border:3px solid black; background-color: ' + background_color + '; width: 30px; padding: 2px">&nbsp;&nbsp;&nbsp;</td>';
                }
                else if (score_int == i) {

                    background_color = belts[score_int];
                    if ($.inArray(background_color, ['blue', 'purple', 'brown', 'black']) >= 0) {
                        color = 'white';
                    }
                    else {
                        color = 'black';
                    }

                    value = Math.round(10 * (score - score_int));

                    x += '<td style="font-family: Times New Roman; text-align:center; border:3px solid black; background-color: ' + background_color + '; width: 30px; padding: 2px; color: ' + color + '">&nbsp;' + (value == 0 ? '&nbsp;' : 'I'.repeat(value) ) + '&nbsp;</td>';
                }
                else {
                    x += '<td style="border:2px dotted black; width: 30px; padding: 2px">&nbsp;&nbsp;&nbsp;</td>';
                }
            }

            x += '<td style="border:0">' + txt_details + '</td></tr>';  // TODO: fix

            $("#tbl").append(x);
        }

        movements = ['Deadlift', 'Front Squat', 'Weightlifting', 'Upper Body Pulling', 'Upper Body Pushing', 'Rings', 'Squat Endurance', 'Fran', 'Diane', 'Annie', 'Running', 'Kettlebell', 'Aerobic Power Intervals', 'Rowing', 'Flexibility'];

        belts = {
            1: 'white',
            2: 'yellow',
            3: 'orange',
            4: 'blue',
            5: 'purple',
            6: 'brown',
            7: 'black'
        }

        function showDetails(x) {

            if (details[x]) {
                $(".tr_breakdown" + x).hide();
            }
            else{
                $(".tr_breakdown" + x).show();
            }

            details[x] = !details[x];
        }

        var details = [];
        var users_with_entries = 0;
        var users_with_belt = 0;

        $.ajax({
            url: "/admin_data",
            type: "GET",
            dataType: 'json',
            success: function (data) {
                var results = data['results'];

                var count = data['results'].length;
                $("#count").text(count);
                var details = new Array(count);
                for (var i=0; i < details.length; ++i) {details[i] = false;}

                for (var datum in data['results']) {
                    var email = results[datum]['email'];
                    var data_levels = results[datum]['data'];

                    var entries = 0;
                    for (var i=0; i < data_levels.length; i++) {
                        if (data_levels[i] > 0) {
                            entries++;
                        }
                    }

                    if (entries > 0) {
                        users_with_entries++;
                    }

                    if (entries == 15) {
                        users_with_belt++;
                    }

                    var belt_current = calculateBelt(data_levels);

                    buildRow(email, belt_current, 'user', datum, entries);

                    for (var i=0; i < data_levels.length; i++) {
                        buildRow(movements[i], data_levels[i], '', datum, entries);
                    }
                }

                $("#users_with_entries").text(users_with_entries);
                $("#users_with_belt").text(users_with_belt);
                $("#pct_entry").text((100 * users_with_entries / count).toFixed(0) + '%');
                $("#pct_belt").text((100 * users_with_belt / count).toFixed(0) + '%');
            }
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <p style="font-weight: bold">
                    <span id="count"></span> members have signed up!
                    <br>
                    <span id="users_with_entries"></span> members have at least one entry (<span id="pct_entry"></span>)
                    <br>
                    <span id="users_with_belt"></span> have received a belt (<span id="pct_belt"></span>)
                </p>

                <table style="border-spacing: 2px" id="tbl"></table>
            </div>
        </div>
    </div>
</body>
</html>